@use 'scss/normalize';
@use 'scss/cw-visual-idenitity' as cw;

@font-face {
  font-family: 'IBM Plex Mono';
  font-weight: 500;
  src: url(./fonts/IBMPlexMono-Medium.ttf) format('truetype');
}

@font-face {
  font-family: 'Mulish';
  font-weight: 400;
  src: url(./fonts/Mulish-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Mulish';
  font-weight: 700;
  src: url(./fonts/Mulish-Bold.ttf) format('truetype');
}

* {
  box-sizing: border-box;
}

body {
  background-color: cw.$background;
}

h1 {
  font-family: 'Mulish', sans-serif;
  color: cw.$text-1;
  font-size: 32px;
}

form {
  display: flex;
  height: 50px;
  width: 100%;
  font-size: 16px;
}

input[type="text"] {
  border: none;
  border-bottom: 3px solid cw.$link;
  flex-grow: 1;
  background-color: cw.$background;
  padding: 0;
  outline: none;
  font-family: 'Mulish', sans-serif;
  color: cw.$text-3;
}

.short-url-container, .short-url-placeholder {
  display: flex;
  justify-content: space-between;
  height: 50px;
  margin-top: 16px;
  width: 100%;
  font-size: 16px;

  div {
    display: flex;
    align-items: center;
    flex-grow: 1;
    border-bottom: 3px solid cw.$link;
    font-family: 'Mulish', sans-serif;
    color: cw.$text-3;
  }
}

.short-url-placeholder {
  visibility: hidden;
}

.btn-url {
  border: none;
  border-bottom: 3px solid cw.$link;
  background-color: cw.$background;
  padding: 0 8px;
  color: cw.$link;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 500;
  margin-left: 16px;
  cursor: pointer;
  width: 88px;

  transition-duration: 0.3s;

  &:hover {
    color: cw.$active-link;
    border-color: cw.$active-link;
  }
}

.App-header {
  margin: 0 auto;
  padding: 0 32px;
  min-height: 100vh;
  max-width: 784px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
