@use 'normalize';
@use 'cw-visual-idenitity' as cw;

@font-face {
  font-family: 'IBM Plex Mono';
  font-weight: 500;
  // src: url(./fonts/IBMPlexMono-Medium.ttf) format('truetype');
  src: url(../fonts/IBMPlexMono-Medium.ttf) format('truetype');
}

@font-face {
  font-family: 'Mulish';
  font-weight: 400;
  src: url(../fonts/Mulish-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Mulish';
  font-weight: 700;
  src: url(../fonts/Mulish-Bold.ttf) format('truetype');
}

* {
  box-sizing: border-box;
}

body {
  background-color: cw.$background;
}

::placeholder {
  color: cw.$slate-grey;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.logo {
  margin: 16px;
  height: 32px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex-grow: 1;
  margin: 0 auto;
  padding: 0 32px;
  width: 100%;
  max-width: 784px;
}

h1 {
  font-family: 'Mulish', sans-serif;
  color: cw.$text-1;
  font-size: 32px;
}

form,
.short-url-container,
.short-url-placeholder {
  display: flex;
  height: 50px;
  width: 100%;
  font-size: 16px;
}

.text-box {
  border: none;
  border-bottom: 3px solid cw.$link;
  padding: 0;
  background-color: cw.$background;
  flex-grow: 1;
  outline: none;
  font-family: 'Mulish', sans-serif;
  color: cw.$text-3;
}

.short-url-container,
.short-url-placeholder {
  justify-content: space-between;
  margin-top: 16px;

  .short-url {
    display: flex;
    align-items: center;
  }
}

.short-url-placeholder {
  visibility: hidden;
}

.btn {
  border: none;
  border-bottom: 3px solid cw.$link;
  background-color: cw.$background;
  margin-left: 16px;
  padding: 0 8px;
  width: 88px;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 500;
  color: cw.$link;
  cursor: pointer;

  transition-duration: 0.3s;

  &:hover {
    color: cw.$active-link;
    border-color: cw.$active-link;
  }
}
